/* Google Fonts Imports */
@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

/* Overall Website */
body {
  background-color: #fcfcfc;
}

* {
  font-family: Roboto, sans-serif !important;
}

.welcome body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body.welcome #content {
  padding: 0;
  max-width: 100%;
}

/* Font & Text Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}

h2 {
  font-size: 40px !important;
}

h4 {
  font-size: 30px !important;
}

p {
  font-size: 20px !important;
}

a {
  text-decoration: underline;
}

/* Header & Navigation */
header {
  border-top: 1rem solid #f8c954;
}

.title-bar {
  display: none !important; /* hide logo for now */
}

.site-title {
  margin-left: 30px;
}

span.title {
  font-size: 1.3889rem;
  font-style: normal;
  font-weight: normal;
}

.top-bar-right {
  display: flex !important;
}

/* Footer */
footer {
  background-color: #f8c954;
  max-width: 100vw;
}

.welcome footer {
  display: none;
}

/* Map */
.mapiframe {
  flex-grow: 0.7;
  border: none;
  margin: 0;
  padding: 0;
  padding-right: 1em;
  width: calc(100vw - 1em);
  height: 80vh;
}

body.team .col-single {
  padding-right: 2em;
}

.acp-team .item {
  margin-right: 2em;
}

.breadcrumbs li {
  font-size: 0.85em;
}
